---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import OurStory from '../sections/OurStory.astro';
import Location from '../sections/Location.astro';
import Gifts from '../sections/Gifts.astro';
import DressCode from '../sections/DressCode.astro';
import Timer from '../sections/Timer.astro';
---

<BaseLayout>
  <main id="home" class="min-h-screen relative bg-white">
    <Header />
    <Hero />
    <OurStory />
    <div class="h-16"></div>
    <Location />
    <Timer />
    <Gifts />
    <DressCode />
  </main>
</BaseLayout>
