@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "leaflet/dist/leaflet.css";
@import "./base-fonts.css";

/* Custom styles can be added below */

html {
  scroll-behavior: smooth;
}

.hero-parallax {
  background-image: url("https://static.wixstatic.com/media/9c608a_4a108dcab11a4da59e49fe7495ab0ef6~mv2_d_5760_2880_s_4_2.jpg/v1/fill/w_1978,h_1396,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/9c608a_4a108dcab11a4da59e49fe7495ab0ef6~mv2_d_5760_2880_s_4_2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
  @media (max-width: 768px) {
    height: 800px;
    background-color: #e6e5e0;
    background-size: contain;
    background-position: center;
  }
}
